body {
  margin: 0;
}

#app {
  
}

.container {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  /* justify-content: center; */
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

.box {
  padding: 1rem;
  margin: 1rem;
  border-radius: 25px;
  background-color: aqua;
  height: fit-content;
  display: flex;
}

.box.item1 {
  background-color: green;
  flex-grow: 4;
  order: -1;
}

.box.item2 {
  background-color: tomato;
  order: 2;
}

.box.item3 {
  background-color: yellow;
  order: -2;
}